* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

.nav {
    background-color: rgb(35, 34, 34);
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: fixed;
}

.logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: yellowgreen;
}

.list {
    width: 300px;
    margin-right: 20px;
}

.ul1 {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    a {
        color: white;
    }
    li {
        transition: .3s;
    }

    li:hover {
        scale: 1.3;
    }

}

h3 {
    margin: 5px 0;
    color: yellowgreen;
}

h1 {
    text-shadow: 2px 2px gray;
}


#bars {
    color: white;
    background-color: rgb(35, 34, 34);
    outline: none;
    border: none;
    transition: .3s;
    display: none;
}

#bars:hover {
    cursor: pointer;
    scale: 1.2;
}

#menu {
    height: 120vh;
    width: 100%;
    background-color: rgba(46, 46, 46, 0.886);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    display: none;
    list-style: none;
    padding: 80px 0 30px 0;

    li {
        width: 100%;
        padding: 10px;
        text-align: center;
        transition: .4s;
    }

    a {
        text-decoration: none;
        color: white;
        transition: .5s;
        font-size: larger;
    }

    .m {
        background-color: yellowgreen;
        padding: 5px;
        margin-left: 5px;
        border: none;
        outline: none;
        border-radius: 10px;
        width: 80%;
    }

    a:hover {
        cursor: pointer;
    }

    .m:hover {
        cursor: pointer;
        background-color: rgb(63, 169, 2);
        color: white;
    }

    li:hover {
        cursor: pointer;
        scale: 1.1;

    }
}

#ul1 {
    width: 40%;
    background-color: rgba(255, 255, 255, 0.121);
    border-radius: 10px;

    li {
        transition: 1s;
    }
}

#ul1 li:hover {
    transform: rotate(360deg);
}

.one {
    margin-top: 2px;
    background-color: rgb(35, 34, 34);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 95vh;
    padding: 100px 0 30px 0;
}

.text {
    width: 40%;
    color: white;

    h2 {
        margin-bottom: 10px;
    }

    p {
        margin: 10px 0;
    }
}

.pic {
    width: 300px;

    img {
        width: 100%;
        border-radius: 50%;
    }
}

.c2 {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.212);
}

.o1 {
    width: 30%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h4 {
        font-weight: bold;
        color: yellowgreen;
        font-size: 20px;
    }

    p {
        font-size: 30px;
        font-weight: bold;
        margin: 10px 0 15px;
        color: white;
    }

    .ima1 {
        width: 230px;
        overflow: hidden;

        img {
            width: 100%;
            border-radius: 0 100px 0 50px;
        }
    }
}

.o2 {
    width: 50%;
    color: white;

    .ip {
        font-size: 30px;
        font-weight: bold;
    }

    button {
        background-color: yellowgreen;
        padding: 7px 10px;
        border: none;
        outline: none;
        border-radius: 10px;
        transition: .4s;

        a {
            text-decoration: none;
            color: black;
        }
    }

    button:hover {
        cursor: pointer;
        scale: 1.1;
        background-color: rgb(63, 169, 2);

        a {
            color: white;

        }
    }
}

.o3 {
    .n1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0;
    }

    .io0 {
        width: 30%;
    }
}



@media (min-width:200px) and (max-width:700px) {
    .logo {
        width: 50%;
        h2{
            font-size: 40px;
        }
    }

    #bars {
        display: block;
    }

    .l a {
        display: none;
    }

    .one {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        height: 160vh;
    }

    .c2 {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        height: 150vh;

        .o1 {
            width: 50%;
        }
    }
}